<div class="container">
  <header>
    <div class="d-flex align-items-center justify-content-between head-nav header">
      <div class="d-flex header">
        <p-menubar [model]="items">
          <ng-template pTemplate="start">
            <img height="60" width="60"
            src="https://i.pinimg.com/originals/82/c6/5b/82c65b9bb0a75026fc4c82a438b4cc9b.jpg">
          </ng-template>
        </p-menubar>
      </div>
      <div class="nav">
        <a class="fs-5 gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" fill="currentColor"
            class="bi bi-box-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
            <path fill-rule="evenodd"
              d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
          </svg>
          Sign In</a>
      </div>
      <div class="badge">
        <i class="pi pi-bell text-3xl" pBadge value="2"></i>
      </div>
    </div>
  </header>

</div>
